#sinatra_authentication
  %h1.page_title Sign Up
  %form{:action => "/signup", :method => "post"}
    .field
      .label
        %label{:for => "user_email"} Email
      %input{ :id => "user_email", :name => "user[email]", :type => "email" , :value => params[:email], :tabindex => "1", :autofocus => true, :required => true }
    .field
      .label
        %label{:for => "user_password"} Password
      %input{ :id => "user_password", :name => "user[password]", :type => "password", :tabindex => "2", :required => true }
    .field
      .label
        %label{:for => "user_password_confirmation"} Confirm Password
      %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :type => "password", :tabindex => "3", :required => true }
    .buttons
      %input{ :value => "Sign Up", :type => "submit", :tabindex => "4" }
